{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Math Quiz</h1>
<p>On this website you have to answer some math questions. At any point you can click a button at the bottom of the website to restart the quiz if you want to.</p>
<p>You can retake the quiz once your finished with it. At the end of the quiz you'll be able to see your personal best and how long it took you to finish it.</p>

  <ul>
    <a href="/page2">Get started</a>
  </ul>

{% endblock %}